@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Inter:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-comic: "Bangers", system-ui, sans-serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

body {
  background-color: #4facfe;
  background-image: radial-gradient(#00f2fe 3px, transparent 3px);
  background-size: 24px 24px;
  touch-action: none;
  overflow: hidden;
}

.comic-border {
  border: 4px solid #000;
  box-shadow: 6px 6px 0px 0px #000;
}

.comic-text {
  text-shadow: 3px 3px 0px #000;
  -webkit-text-stroke: 1px black;
}
